.eventsType {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 36px;
    height: 28px;
    font-size: 24px;
    color: #2c4b68;
}

.eventsType.icon-gs-policy-failed:before { color: #d64b34; }
.eventsType.icon-gs-policy-success:before { color: #9abc2e; }
.eventsType.icon-gs-task-failed:before { color: #d64b34; }
.eventsType.icon-gs-task-retried:before { color: #f9b71b; }
.eventsType.icon-gs-task-sent:before { color: #049cdb; }
.eventsType.icon-gs-task-success:before { color: #9abc2e; }
.eventsType.icon-gs-workflow-cancelled:before { color: #d64b34; }
.eventsType.icon-gs-workflow-failed:before { color: #d64b34; }
.eventsType.icon-gs-workflow-success:before { color: #9abc2e; }
.eventsType.gs-icon-logs:before { color: #049cdb; }

.eventsTable [class^="icon-gs-"], .eventsTable [class*=" icon-gs-"] {
    font-family: 'gigaspaces' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gs-node-status-alert:before {
    content: "\e629";
}

.icon-gs-node-status-success:before {
    content: "\e62a";
}

.icon-gs-node-status-fail:before {
    content: "\e62b";
}

.icon-gs-node-status-loading:before {
    content: "\e630";
}

.icon-gs-workflow-cancelled:before {
    content: "\e600";
}

.icon-gs-workflow-failed:before {
    content: "\e601";
}

.icon-gs-workflow-started:before {
    content: "\e602";
}

.icon-gs-workflow-success:before {
    content: "\e603";
}

.icon-gs-task-retried:before {
    content: "\e604";
}

.icon-gs-task-started:before {
    content: "\e62d";
}

.icon-gs-policy-failed:before {
    content: "\e605";
}

.icon-gs-policy-success:before {
    content: "\e606";
}

.icon-gs-task-cancelled:before {
    content: "\e607";
}

.icon-gs-task-failed:before {
    content: "\e608";
}

.icon-gs-task-recieved:before {
    content: "\e609";
}

.icon-gs-task-right:before {
    content: "\e60a";
}

.icon-gs-task-success:before {
    content: "\e60b";
}

.icon-gs-task-sent:before {
    content: "\e62c";
}

.icon-gs-task-retry:before {
    content: "\e615";
}

.icon-gs-workflow-stage:before {
    content: "\e60c";
}

.icon-gs-blueprints:before {
    content: "\e60d";
}

.icon-gs-deployments:before {
    content: "\e60e";
}

.icon-gs-alert:before {
    content: "\e60f";
}

.icon-gs-note:before {
    content: "\e610";
}

.icon-gs-unread:before {
    content: "\e611";
}

.icon-gs-read:before {
    content: "\e612";
}

.icon-gs-edit:before {
    content: "\e613";
}

.icon-gs-search:before {
    content: "\e614";
}

.icon-gs-node-root:before {
    content: "\e616";
}

.icon-gs-node-dbms:before {
    content: "\e619";
}

.icon-gs-node-subnet:before {
    content: "\e61d";
}

.icon-gs-node-network:before {
    content: "\e62f";
}

.icon-gs-node-load-balancer:before {
    content: "\e617";
}

.icon-gs-node-router:before {
    content: "\e618";
}

.icon-gs-node-compute:before {
    content: "\e61b";
}

.icon-gs-node-virtual-ip:before {
    content: "\e61a";
}

.icon-gs-node-msg-bus-srv:before {
    content: "\e61c";
}

.icon-gs-node-application-server:before {
    content: "\e61e";
}

.icon-gs-node-security-group:before {
    content: "\e61f";
}

.icon-gs-node-volume:before {
    content: "\e620";
}

.icon-gs-node-tier:before {
    content: "\e621";
}

.icon-gs-node-web-server:before {
    content: "\e622";
}

.icon-gs-add-file:before {
    content: "\e623";
}

.icon-gs-logs-events:before {
    content: "\e624";
}

.icon-gs-node-file-system:before {
    content: "\e625";
}

.icon-gs-node-keypair:before {
    content: "\e626";
}

.icon-gs-node-object-storage:before {
    content: "\e627";
}

.icon-gs-screen-cloud:before {
    content: "\e628";
}

.eventsType.icon {
    margin: 0px;
}

.ui.table td.row-error, .ui.table tr.row-error {
    box-shadow: 0 0 0 #FFA3A3 inset;
    background: #FFD6D6 !important;
    color: #7F1E1E !important;
}

.ui.table td.row-debug, .ui.table tr.row-debug {
    box-shadow: 0 0 0 #A3C2FF inset;
    background: #D5FFFF !important;
    color: #245396 !important;
}

.ui.table td.row-warning, .ui.table tr.row-warning {
    box-shadow: 0 0 0 #FFFFA3 inset;
    background: #FFFFD6 !important;
    color: #68681A !important;
}
