.ui.table td.row-error, .ui.table tr.row-error {
    box-shadow: 0 0 0 #FFA3A3 inset;
    background: #FFD6D6 !important;
    color: #7F1E1E !important;
}

.ui.table td.row-debug, .ui.table tr.row-debug {
    box-shadow: 0 0 0 #A3C2FF inset;
    background: #D5FFFF !important;
    color: #245396 !important;
}

.ui.table td.row-warning, .ui.table tr.row-warning {
    box-shadow: 0 0 0 #FFFFA3 inset;
    background: #FFFFD6 !important;
    color: #68681A !important;
}
