// TODO(RD-6464): After moving theme related files to cloudify-ui-common, make sure that those colors would be also relocated

/*--- Cloudify Site Colors  ---*/

$cloudify-red: #ef5350;
$cloudify-yellow: #fee584;
$cloudify-blue: #65adff;
$cloudify-grey: #5f6368;
$cloudify-black: #050229;
