/*--- Semantic UI Site Colors  ---*/

$suir-red: #ef5350;
$suir-yellow: #fee584;
$suir-blue: #65adff;
$suir-grey: #5f6368;
$suir-black: #050229;

:export {
    suirRed: $suir-red;
    suirYellow: $suir-yellow;
    suirBlue: $suir-blue;
    suirGrey: $suir-grey;
    suirBlack: $suir-black;
}
