// NOTE: Upon finalising theming changes, font faces below should be extracted to cloudify-ui-common
@font-face {
    font-family: 'Roboto';
    src: url('../../node_modules/cloudify-ui-common/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../node_modules/cloudify-ui-common/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'cloudify-icons';
    src: url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.eot?75470793');
    src: url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.eot?75470793#iefix') format('embedded-opentype'),
        url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.woff2?75470793') format('woff2'),
        url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.woff?75470793') format('woff'),
        url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.ttf?75470793') format('truetype'),
        url('../../semantic-ui/fonts/cloudify-icons/cloudify-icons.svg?75470793#cloudify-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
