body {
}

a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.logo {
  img {
    height: 45px;
    margin: 4px;
    position: absolute;
  }
}

.ui.top.menu .right.menu .ui.dropdown.item{
  padding: 5px 10px;
  border-left: none;
  height: 52px;
}

.dropDownText
{
  color: #ffffff;
  display: inline-block;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  //bottom: 30px;
  top: 52px;

  .ui.left.menu.sidebar {
    z-index: 0;
    top: 52px;
    //height: auto !important;
    //bottom: 29px;
  }

  .page {
    margin-left: 13rem;

    .ui.labeled.icon.button.addWidgetBtn {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .ui.segment.addButtonContainer {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
  }


  .ui.breadcrumb .section:not(.active) {
    cursor: pointer;
  }
}

.grid-stack > .grid-stack-item.widget > .grid-stack-item-content {
  overflow-x: initial;
  overflow-y: initial;
}

.pageMenuItem {
}

.pageRemoveButton {
    position: absolute;
    right : 5px;
    display:none;
    visibility: hidden;
    top: 40%;
}

.pageMenuItem:hover .pageRemoveButton{
  display:block;
  visibility: visible;
}

.pageDescription {
  opacity: 0.6;
  font-size: 12px;

  &.editPlaceholder {
    font-style: italic;
  }
}

.pageTitle {
  clear: both;
  line-height: 1.5;
}


.widget {

  .widgetEditButtons {
    position: absolute;
    top: 0px;
    right : 0px;
    display: none;
  }

  &:hover {
    .widgetEditButtons{
      display: block;
    }

    .ui.basic.segment.borderOnHover {
      border: 1px solid rgba(34, 36, 38, 0.15);
    }
  }

  .row {
    cursor: pointer;

    .rowActions {
      white-space: nowrap;
//      visibility: hidden;
    }

    &:hover .rowActions{
//      visibility: visible;
    }


  }

  .ui.segment.widgetItem {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .widgetContent {
    position: absolute;
    top: 35px;
    bottom: 15px;
    left: 0px;
    right: 0px;
    overflow: auto;
    padding: 15px;

    &.noHeader {
      top: 25px;
    }

    &.noBorder {
      overflow: initial;
      padding: 0px !important;
    }
  }
}

.uploadSnapshot {
  float: right;
}

.createSnapshot {
  float: right;
}

.snapshotsButtons {
  position: relative;
  bottom: 5px;
}

// TODO need to calc it according to screen size
.editWidgetModal {
  max-height: 600px;
}

// TODO need to calc it according to screen size
.addWidgetModal {
  max-height: 600px;

  .widgetsList {
    max-height: 435px;
    overflow: auto;
  }
}


.configManager.ui.segment , .loginPage.ui.segment {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .configManagerContainer,.loginContainer {
    margin: auto;
    width: 400px;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  button {
    width: 100%;
  }

}

.keyIndicator {
  position: absolute;
  left: 0;
  right:0;
  top:0;
  bottom:0;
  overflow: hidden;
}

.keyIndicator > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.manager {
  .icon.statusIcon {
    line-height: 18px;
    margin-right: 0px;
  }
}
.tenantsMenu {
  .menu {
    minWidth: 190px;
    left: auto !important;
    right: 0;
  }

  .configure.icon {
    margin: 0 0 0 0.5em !important;
    opacity: 0.5 !important;
  }

  &.ui.dropdown > .text > .icon.statusIcon {
    margin-left: 5px;
  }
}

.ui.menu:not(.vertical) .item.managerAndTenants {
  flex-direction: column;
  align-items: flex-end;
}

.ui.inline.loader.widgetLoader {
  position:  absolute;
  left: auto;
  bottom: auto;
  display: none;

  &.header {
    right: 12px;
    top: 4px;
  }

  &.noheader {
    right: 5px;
    top: 5px;
  }
}

/* Customize Highlight styles */
code.hljs {
  background: white;
}

/* Grid table */
.gridTable {

  .noDataRow {
    height: 50px;
  }

}

.actionField {
  margin-left: auto !important;
  padding-right: 0px !important;

  & > button {
    margin-right: 1em;
  }

  & > button:last-child, & > div:last-child button {
    margin-right: 0 !important;
  }

  & > div {
    display: inline-block;
  }
}

.dataExpandable-appear {
  opacity: 0.01;
}

.dataExpandable-appear.dataExpandable-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.dataExpandable-enter {
  opacity: 0.01;
}

.dataExpandable-enter.dataExpandable-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* Pagination */

.gridPagination {

  .pagination.menu .item {
    padding-top: 0.78571429em !important;
    padding-bottom: 0.78571429em !important;
  }

  .compact.dropdown {
    min-width: 50px !important;
  }

}

/* Segment list */

.segmentList {

  .segments {
    border: none !important;
  }

  .segment {
    box-shadow: none !important;

    .nodeState .segment {
      padding: 2px 15px !important;
    }

    .nodeState .icon {
      margin-right: 0px;
    }

    .rightDivider {
      position: relative;
    }

    .rightDivider::after {
      content: "";
      border-left: 1px solid rgba(34, 36, 38, 0.15);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      height: calc(100% - 2rem);
      position: absolute;
      right: 0;
      top: 1rem;
      width: 0px;
    }
  }

  .column.action  {

    .ui.dropdown {
      position: absolute;
      right: 10px;
    }
  }

  .ui.icon.header {
    color: inherit;

    .content {
      margin-bottom:5px;
    }

    .icon {
      font-size: 2em;
      margin-bottom:0px;
    }
  }
}

/* Modal */

.ui.modal:not(.overlay) > .content {
  max-height: 480px;
  overflow: auto;
}

/* Center vertically */

.verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ui.dropdown .menu>.item.indent {
  padding-left: 30px !important;
}

.ui.divided.light.list>.item {
  border-top: 1px solid #F0F0F0;
}

.ui.divided.light.list>.item:first-child {
  border-top: none;
}