/* Tasks Graph */
.executionsWidget svg g,
.ui.modal svg g {
    pointer-events: all !important;
}

.ui.modal svg {
    border-radius: 4px;
}

.ui.modal.fullscreen {
    left: unset !important;
}

.executionsTable {
    table-layout: fixed;
    /* Prevents headers overlapping */
    min-width: 860px;
}

.executions-graph-toolbar {
    position: absolute;
    display: flex;
    gap: 2px;
    top: 1px;
    right: 2px;
    background: white;
    height: 19px;
    z-index: 1;
}

.executions-graph-toolbar i {
    margin-right: 0;
    vertical-align: top;
}

.ui.modal .executions-graph-toolbar {
    height: 16px;
    padding-top: 1px;
    top: 8px;
    right: 4px;
}

/* g containers */
.g-tasks-graph-general {
    stroke: #5a5a5a;
}

.g-tasks-graph-edge {
    fill: #5a5a5a;
}

/* Node styling */
.text-tasks-graph-subgraph-title {
    stroke-width: 0.03em;
}

.text-tasks-graph-operation-and-state {
    stroke-width: 0.01em;
    stroke: rgb(29, 29, 29);
}
