.idea
.vscode
.history
.tmp
dist
node_modules
/logs
/backend/logs

stage.tar.gz

reports
selenium-debug.log
/test/nightwatch/screenshots
/test/cypress/screenshots
/test/cypress/videos

/doc/www
/conf/me.json

/userData

/widgets/*/backend.js