.eslintcache
.idea
.vscode
.history
.tmp
.nyc_output
coverage-*
conf/me.json
/dist
/tsc-dist
userData
node_modules
test/cypress/screenshots
test/cypress/videos
test/cypress/results
widgets/*/backend.ts
stage.tar.gz
