.idea
dist
node_modules
bower_components


plugins/blueprints/widget.js
plugins/deploymentNum/widget.js
plugins/deployments/widget.js
plugins/events/widget.js
plugins/filter/widget.js
plugins/githubRepositories/widget.js
plugins/logs/widget.js
plugins/outputs/widget.js
plugins/plugins/widget.js
plugins/pluginsNum/widget.js
plugins/reactTest/widget.js
plugins/snapshots/widget.js
plugins/executions/widget.js
plugins/topology/widget.js