.blueprintCatalog .actionButtons {
    position: absolute !important;
    bottom: 1rem;
    right: 1rem;
}

.blueprintCatalog .actionButtons > button {
    margin-right: 1rem;
}

.uploadBlueprintModal i.info{
    text-align: center;
    font-size: 1.5em;
    margin: 3px auto;
}