.blueprintCatalog .actionButtons {
    position: absolute !important;
    bottom: 1rem;
    text-align: center;
    line-height: 3;
}

.blueprintCatalog .actionButtons > button {
    margin-right: 1rem;
}

.uploadBlueprintButton {
    z-index: 5;
    float: right;
}