[Unit]
Description=Cloudify Stage Service
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
EnvironmentFile=/etc/sysconfig/cloudify-stage
User=stage_user
Group=stage_group
WorkingDirectory=/opt/cloudify-stage/backend
ExecStart=/usr/bin/node /opt/cloudify-stage/backend/server.js ${STAGE_ARGS}

[Install]
WantedBy=multi-user.target
