[Unit]
Description=Cloudify Console Service
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
EnvironmentFile=/etc/sysconfig/cloudify-stage
User=stage_user
Group=stage_group
WorkingDirectory=/opt/cloudify-stage/backend
ExecStart=/usr/bin/npm run start
UMask=0002

[Install]
WantedBy=multi-user.target
