version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10-stretch

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}-{{ checksum "backend/package.json" }}
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm run beforebuild

      - save_cache:
          paths:
            - node_modules
            - backend/node_modules
          key: v1-dependencies-{{ checksum "package.json" }}-{{ checksum "backend/package.json" }}

      - run:
          name: Build application
          command: npm run build

      - persist_to_workspace:
          root: ~/
          paths:
            - repo

  test:
    docker:
      - image: circleci/node:10-stretch
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run tests
          command: npm run prodtest
      - run:
          name: Check code style
          command: npm run lint

  checkBundleSize:
    docker:
      - image: circleci/node:10-stretch
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Check bundle size
          command: npm run size

  checkWidgetsDoc:
    docker:
      - image: circleci/node:10-stretch
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Generate widgets documentation
          command: npm run docWidgets
      - run:
          name: Check if widgets documentation is up to date
          command: git diff --exit-code ./widgets

workflows:
  version: 2
  build-test-check:
    jobs:
      - build
      - test:
          requires:
            - build
      - checkBundleSize:
          requires:
            - build
      - checkWidgetsDoc:
          requires:
            - build