version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9-stretch

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm run beforebuild

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Create widget bundle files
          command: grunt build

      - run:
          name: Create application bundle file
          command: npm run build

      - run:
          name: Run tests
          command: npm run prodtest

      - run:
          name: Check code style
          command: npm run lint

      - run:
          name: Check bundle size
          command: npm run prodtest