/* Tasks Graph */
#graphContainerLoading {
    height: 200px;
}
/* g containers */
.g-tasks-graph-general {
    stroke: black;
}

.g-tasks-graph-edge {
    fill: none;
    stroke-width: 2;
}

/* Node styling */
.rect-tasks-graph-general {
    stroke-width: 2;
    fill: rgb(222, 245, 255);
}

.rect-tasks-graph-pending {
    fill: rgba(128, 128, 128, 0.76);
}

.rect-tasks-graph-running {
    fill: rgba(215, 227, 45, 0.801);
}

.rect-tasks-graph-succeeded {
    fill: rgba(25, 200, 54, 0.836);
}

.rect-tasks-graph-failed {
    fill: rgba(204, 50, 50, 0.822)
}

.text-tasks-graph-subgraph-title {
    stroke-width: 0.03em;
}

.text-tasks-graph-operation-and-state {
    stroke-width: 0.01em;
    stroke: rgb(29, 29, 29);
}
