/* Tasks Graph */
#graphContainerLoading {
    height: 200px;
}

.ui.modal svg {
    border-radius: 4px;
}

.ui.modal.fullscreen {
    left: unset !important;
}

.executions-graph-toolbar {
    position: absolute;
    top: 1px;
    right: 2px;
    background: white;
    opacity: 1;
    height: 19px;
    z-index: 1;
}

.executions-graph-toolbar i {
    padding: 0 2px;
    margin-right: 0;
    vertical-align: top;
}

.ui.modal .executions-graph-toolbar {
    height: 16px;
    padding-top: 1px;
    right: 1px;
}

/* g containers */
.g-tasks-graph-general {
    stroke: #5a5a5a;
}

.g-tasks-graph-edge {
    fill: #5a5a5a;
}

/* Node styling */
rect {
    fill: white;
}

.text-tasks-graph-subgraph-title {
    stroke-width: 0.03em;
}

.text-tasks-graph-operation-and-state {
    stroke-width: 0.01em;
    stroke: rgb(29, 29, 29);
}
