{
  "app": {
      "influx": {
        "ip" : "<MANAGER_IP>"
      },
      "ssl": {
        "ca": null
      }
  },
  "customer": {

  },
  "manager": {
    "ip":"<MANAGER_IP>",
    "protocol" : "http",
    "port": "80"
  },
  "widgets": {

  },
  "e2e": {

  }
}