{
  "app": {
      "ssl": {
        "ca": null
      },
      "logLevelConf": "",
      "logLevel": "info"
  },
  "manager": {
    "ip":"<MANAGER_IP>",
    "protocol" : "https",
    "port": "443"
  }
}
