
.icon-blueprints:before { content: '\e800'; } /* '' */
.icon-dashboard:before { content: '\e801'; } /* '' */
.icon-environments:before { content: '\e802'; } /* '' */
.icon-system-logs:before { content: '\e803'; } /* '' */
.icon-tenant:before { content: '\e804'; } /* '' */
