{
  "env": {
    "browser": true
  },
  "globals": {
    "PropTypes": true
  },
  "overrides": [
    {
      "files": ["backend.js"],
      "rules": {
        "global-require": "off",
        "import/no-unresolved": ["error", { ignore: ['elkjs'] }]
      },
      "env": {
        "node": true
      }
    }
  ]
}
