.treeIcon {
    color: rgba(0, 0, 0, 0.6);
}

.centeredIcon {
    text-align: center;
}

.alignHighlight > .label {
    cursor: pointer;
}

.alignHighlight > pre {
    margin-top: 2rem;
    margin-bottom: 0rem;
}