.repositoryCatalog .ui.icon.button {
    width: 22px;
    height: 22px;
}
.repositoryCatalog .contentBlock {
    margin-bottom: 17px;
}

.widget .repositoryCatalog .row,
.ui.segment {
    cursor: default !important;
}
