
.sites-map {
    height: 100%;
    width: 100%;
    z-index: 5;
}

.deploymentState .segment {
    padding: 1px 0px !important;
    min-width: 4rem;
}

.row > .column.deploymentState {
    padding-right: 2px !important;
    padding-left: 2px !important;
}
