.blueprintsTable th:nth-child(6) {
    min-width: 81px;
}

.blueprintCatalog .segment {
    background: white !important;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.uploadBlueprintButton {
    z-index: 5;
    position: absolute !important;
    right: 12px;
}

.blueprintCatalog .actionButtons .button {
    margin: 0.2rem;
}

.blueprintCatalog .stackable .column > .column {
    min-width: 315px;
    max-width: 20%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 769px) {
    .blueprintCatalog .stackable .column > .column {
        max-width: 100%;
    }
}
