.detailsPane {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    .centeredButtons {
        margin-right: 1rem;
    }
    div > div:last-child {
        margin-left: auto;
    }
}
