.repositoryCatalog .uploadButton {
    position: absolute !important;
    bottom: 1rem;
    right: 1rem;
}

.repositoryCatalog .readmeButton {
    position: absolute !important;
    bottom: 1rem;
    left: 1rem;
}

.repositoryCatalog .contentBlock {
    margin-bottom: 50px;
}
