@use 'sass:math';
@import '~cloudify-ui-common-frontend/styles/colors';

.dds__icon:hover {
    color: $blue-dark;
}

$deploymentStatusColors: (
    // NOTE: use Semantic UI colors
    // See https://semantic-ui.com/usage/theming.html
    'good': #21ba45,
    'in-progress': #f2711c,
    'requires-attention': #db2828
);

$deploymentStatusForegroundColors: (
    // NOTE: picked to improve the contrast
    'good': black,
    'in-progress': black,
    'requires-attention': white
);

$deploymentProgressBarColors: (
    'in-progress': map-get($deploymentStatusColors, 'in-progress'),
    'failed': map-get($deploymentStatusColors, 'requires-attention')
);

.deploymentsViewWidget,
.deploymentsViewDrilledDownWidget {
    // NOTE: use CSS custom properties to make user overrides easier
    @each $status, $color in $deploymentStatusColors {
        --deployment-status-color-#{$status}: #{$color};
    }
    @each $status, $color in $deploymentStatusForegroundColors {
        --deployment-status-foreground-color-#{$status}: #{$color};
    }

    --deployment-progress-underline-height: 0.14em;

    // NOTE: additional selectors added to increase specificity and allow overriding
    .ui.table .deployment-progressless-row > td {
        // NOTE: 0.4em is the default in the table
        padding-bottom: calc(0.4em + var(--deployment-progress-underline-height));
    }

    .deployment-progress-row {
        pointer-events: none;
    }

    // NOTE: additional selectors added to increase specificity and allow overriding
    .ui.table .deployment-progress-row > td.deployment-progress-row-cell {
        padding: 0;
        border-top: 0;
    }

    .subdeploymentColumn {
        white-space: nowrap;
    }

    .deployment-progress-bar {
        height: var(--deployment-progress-underline-height);
    }

    @each $stateName, $color in $deploymentProgressBarColors {
        --deployment-progress-bar-color-#{$stateName}: #{$color};
    }
    @each $status, $color in $deploymentProgressBarColors {
        .deployment-progress-bar.#{$status} {
            background-color: var(--deployment-progress-bar-color-#{$status});
        }
    }

    .master-details-view-resizer {
        $initialWidth: 0.25rem;
        $horizontalMargin: 1rem;
        $widthOnHover: 0.5rem;

        cursor: col-resize;
        width: $initialWidth;
        // NOTE: min-width fixes the bar disappearing when there is little room for it
        min-width: $initialWidth;
        margin: 0 $horizontalMargin;
        background-color: $grey-normal;

        &:hover {
            width: $widthOnHover;
            min-width: $widthOnHover;
            background-color: $grey-dark;
            margin: 0 ($horizontalMargin - math.div($widthOnHover - $initialWidth, 2));
        }
    }
}
