.detailsPane .detailsPaneHeader {
    // NOTE: 10px margin to have the same whitespace as the widgets below
    margin: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
